*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    /*font-family: $base-font-family;*/
    font-size: 16px;
    font-weight: 300;
    line-height: 1.45;
    -webkit-text-size-adjust: 100%;

    margin-top: 40px;
}

@media all and (max-width: 800px){
  body {
    font-size: 13px;
  }
}

img {
  max-width: 100%;
}

h1 {
    font-size: 4.5em;
    font-family: 'Slabo 27px', serif;
    text-align: center;
    padding: 0;
    margin: 0;
}

.preface {
    font-size: 2.6em;
    font-family: 'Patrick Hand SC', cursive;
    text-align: center;
    padding: 0;
    margin: 10px;
    color: grey;
}

.front-image {
    text-align: center;
    padding: 0;
}

.navigation {
    text-align: center;
    margin: 0;
}

.foreword {
    font-size: 1.5em;
    font-family: 'Patrick Hand SC', cursive;
    text-align: center;
    padding: 0;
    color: grey;
}

.foreword a,
.foreword a:visited,
.foreword a:active {
    color: #a00;
}

.slick-slider {
    margin: 30px auto 0;
    text-align: center;
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-user-select: none;
}

.slick-slide {
    font-size: 2em;
    letter-spacing: -1px;
    line-height: 1em;
    font-family: 'Patrick Hand SC', cursive;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: .5em;
}

.slick-prev, .slick-next {
    width: 50px;
    height: 50px;
    background-size: 40px auto;
    background-image: url("assets/left.png");
    background-repeat: no-repeat;
    border: medium none;
    background-color: transparent;
    color: transparent;
}

.slick-next {
    background-image: url("assets/right.png");
}

.share {
  text-align: center;
  margin-bottom: 2rem;
}

.slick-share-twitter {
  margin-left: -0.7rem;
  font-family: 'Patrick Hand SC', cursive;
  color: grey;
  font-size: 2em;
}